
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*.cache.json

# testing
/coverage

#cache
.turbo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*
.vscode/

out/
build/
dist/
*.local.yml
*-local.tsx
*-local.ts

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json

# typescript
.tsbuildinfo

# PNPM related files and directories
.pnpm
.pnp.cjs
.store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
