@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: Microsoft JhengHei;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
    }
}

@keyframes top {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
}

@keyframes left {
    from {
        transform: translatex(-50px);
        opacity: 0;
    }
}

@keyframes size {
    from {
        font-size: 5px;
        opacity: 0;
    }
}

.bjf-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.bjf-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.bjf-scrollbar::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 20px;
}