name: Publish Extensions
on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                browser: [chrome, firefox, edge]
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                version: 8
            - name: Setup Node.js
              uses: actions/setup-node@v4.0.1
              with:
                  node-version: 20
                  cache: 'pnpm'
            - name: Install dependencies
              run: pnpm install
            - name: Build And Package Extensions
              run: pnpm build --zip --target=${{ matrix.browser }}-mv3
            # upload to github artifacts for each browser with matrix
            - name: Upload to GitHub Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ matrix.browser }}-mv3.zip
                  path: build/
    publish:
        runs-on: ubuntu-latest
        needs: build
        steps:
            # download artifacts
            - name: Download Artifacts
              uses: actions/download-artifact@v4
              with:
                  path: build/
            # publish with BPP
            - name: Browser Platform Publish
              uses: PlasmoHQ/bpp@v3
              with:
                keys: ${{ secrets.SUBMIT_KEYS }}
    sign-firefox:
        runs-on: ubuntu-latest
        needs: build
        steps:
            # download artifacts
            - name: Download Artifacts
              uses: actions/download-artifact@v2
              with:
                  path: build/
            # sign and export xpi without publish to store